$mainBlue: #3FA396;
$mainRed: #E63C23;
$complimentaryGray: #D9D9D9;

*{
    overflow-x: hidden;
    font-family: 'Architects Daughter', cursive;
}

.theFooter{
    bottom: 0;
    width: 100vw;
    height: 40vh;
    position: static;
    background-color: black;
}

.footerList{
    color: white;
    margin: 0 auto;
    font-size: 30px;
    font-weight: 700;
}