$mainBlue: #3FA396;
$mainRed: #E63C23;
$complimentaryGray: #D9D9D9;

*{
    overflow-x: hidden;
    font-family: 'Architects Daughter', cursive;
}

.theFooter{
    bottom: 0;
    width: 100vw;
    height: 40vh;
    position: static;
    background-color: $mainBlue;
    border: solid 1px black;
}