*{
    overflow-x: hidden;
    font-family: 'Architects Daughter', cursive;
}

.homeImageParent{
    display: flex;
    flex-direction: column;
    border: solid 2px green;
    margin-left: 2vw;
    margin-top: 2vh;
    width: 30vw;
}

.imageTitle{
    align-self: center;
}