$mainBlue: #3FA396;
$mainRed: #E63C23;
$complimentaryGray: #D9D9D9;

#{
    text-decoration: none;
}

.fullSubMenuComponent{
    height: 20vh;
    width: 90vw;
    background-color: $complimentaryGray;
    margin-top: 3vh;
    margin-left: 5vw;
    display: flex;
    flex-direction: row;
}

.submenuTitle{
    text-decoration: none !important;
    border: solid 2px green;
}
